name: AzureLoginSample
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      Choice:
       type: choice
       description: Please select your option
       required: true
       options:
       - Update
       - Delete   
  
  
jobs:
  Azure_Login:
    runs-on: ubuntu-latest
    steps:
      - name: Log in with Azure
        run: |
         az login --service-principal -u '${{ secrets.APPID}}' -p '${{ secrets.PASSWORD }}' --tenant '${{ secrets.TENANT}}'
         az account set -s '${{secrets.SUBID}}'
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name:  Create Storage Account
        run: |
          az storage account create -n valasastorageaccount -g valasatestrg -l westus --sku Standard_LRS
      - if: ${{ github.event.inputs.Choice  == 'Update' }}
        run: |
         az storage account update -n valasastorageaccount -g valasatestrg --default-action Allow
      - if: ${{ github.event.inputs.Choice =='Delete'}}
        run: |
         az storage account delete -n valasastorageaccount -g valasatestrg -y
        shell: bash
